rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // فتح الصلاحيات بالكامل لضمان عمل كافة الأزرار للمدير والمشرف
    match /{document=**} {
      allow read, write: if true;
    }
  }
}